body {
	background-color: rgb(131, 116, 100);
	font-family: 'Open Sans', sans-serif; 
}

#footer {
	background-color: black;
	color: rgb(131, 116, 100);
	font-size: 18px;
	padding-top: 3em;
	padding-bottom: 2em;
	bottom: 0;
	width: cover;
}

#footer a {
	color:#AAAAAA;
}

#footer p {
	font-size: 15px;
	color: #AAAAAA;
	margin-bottom: 1px; 
	font-family: sans-serif;
}

#footer a:hover {
	color: #DDDDDD;
}

.social a {
	font-size: 24px;
}

.navbar-transparent {
  background-color: rgba(131, 116, 100, 0.8);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: white;
  line-height: 20px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus 
 {
  color: white;
  background-color: rgba(51, 11, 2, 0.3);
}

.navbar-transparent :hover,
.navbar-transparent :active,
.navbar-transparent :focus {
  color: white;
}


.modal-body {
	background-color: white;
}
.modal-title {
	font-family: 'Open Sans', sans-serif; 
	color: rgb(131, 116, 100);
}

#wrapper {
	background-image: url("../images/background/background.jpg");
	height: 550px;
	background-size: cover;
	text-align: left;
	padding-top: 150px; 
	color: rgb(131, 116, 100);
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);	
}


#wrapper h1 {
	font-size: 80px;
	line-height: 20px;
	font-family: Arial;
}
#wrapper h2 {
	font-size: 30px;
	line-height: 20px;
	font-family: Arial;
}
#wrapper h3 {
	font-size: 15px;
	margin-left: 55px;
	margin-bottom: 3em;
}

#wrapper button {
	background-color: rgb(131, 116, 100);
	color: white;
	box-shadow: 2px;
	margin-left: 67px;
}
#wrapper button:hover {
	background-color: rgba(51, 11, 2, 0.3);
}

#teaser {
	text-align: center;
	padding-top: 50px;
}

.feature {
	font-weight: 300;
	letter-spacing: 2px;
}

.feature img {
	margin-bottom: 2px;
}

.spacer {
	padding-top: 5em;
	padding-bottom: 5em;
}

.contact {
	text-align: left;
	padding-top: 50px; 
	color: white;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);	
}

#tooplate_main {
	padding-top: 30px;
	position: relative;
	margin-bottom: 20px;
	text-align: center;
}
#tooplate_main .main_border {
	width: 960px;
	height: 10px;
}
#tooplate_main .main_border_t {
	top: -10px;
}
#tooplate_main .main_border_b { 
	bottom: -10px;
}

#tooplate_main h1 {
	color: white;
	font-size: 40px;
	margin-left: 5px;
}

#tooplate_main h2 {
	color: white;
	font-size: 20px;
}

#tooplate_main .price p {
	color: white;
	font-size: 15px;
}

.product img{
	height: 250px;
	width: 220px;
	border: 2px solid black;
	border-radius: 5px;
}


